.alinhar{
    text-align: center;
    background-color: bisque;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    height: 1000px;
    width:1000px ;
}
.cor{
    color: rgb(101, 156, 238);
}
table, th , td, tr{
    border: 5px solid rgb(247, 182, 99);
    border-collapse: collapse;
    border-radius: 10px;
    border-style: groove ;
    background-color: rgb(247, 241, 216);
}
.texto1{
    text-align: center;
    color: rgb(236, 195, 144);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbarr{
    background-color: black;
    border: 5px  solid rgb(35, 35, 37);
}
.linha{
    color: rgb(243, 161, 8);
    height: 1px;
}
.tamanho{
    width: 1000px;
    height: 1000px;
}
img{
    width: 400px;
    height: 200px;
    align-items: center;
}
.centro{
    align-items: center;
    align-self: center;
    align-content: center;

}
.texto2{
    text-align: center;
    font-family: cursive;
    color: rgba(255, 154, 2, 0.616);
    background-color: rgb(54, 50, 46);
    font-size: xx-large;
}
table, th , td, tr{
    border: 5px solid rgb(247, 182, 99);
    border-collapse: collapse;
    border-radius: 10px;
    border-style: groove ;
    background-color: rgb(247, 241, 216);
}
.textoCapuccino{
    background-color: antiquewhite;
    color: rgb(151, 57, 50);
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
}
.texto3{
    color: rgb(1, 0, 5);
    background-color: rgb(206, 190, 145);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.textoCafe{
    color: rgb(92, 50, 1);
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.form{
    background-color: rgb(224, 224, 178);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.formulario{
    background-color: rgb(224, 224, 224);
}
.label{
    align-items: center;
}
.tamanho2{
    width: 1200px;
}
.larguraForm{
    width: 1300px;
}
.tamanho4{
    width: 250px;
}
.img2{
    width: 100px;
    height: 50px;
}
.textoform{
    font-size: medium;
    text-align: center;
}
.rodape{
    background-color: rgb(235, 225, 225);
    color: rgb(41, 36, 11);
    text-align: center;
}
.textoform2{
    color:rgb(8, 7, 1) ;
    font-family: 'Times New Roman', Times, serif;
}
.formulario2{
    background-color: rgb(207, 202, 194);
}
.textoform3{
    color: rgb(17, 12, 0);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(241, 239, 236);
}
.cor{
    color: rgb(29, 16, 5);
    background-color: rgb(231, 227, 203);
}
.rodape2{
    background-color: rgb(236, 196, 177);
    text-align: center;
}

